//colors
$color-cyan: rgb(0, 71, 88);
$color-crimson-dark: rgb(77, 5, 5);
$color-white: #fff;
$color-header: #20222b;
$color-off-white : #a5afd7 ; 
$color-off-black : rgb(32, 32, 32); 
$color-purple  : rgb(137, 13, 161) ; 
$color-blue-dark  : #3c4151 ; 
//sizes
$m-size: 1.6rem;
$l-size : 3.2rem ; 
$xl-size : 4.8rem ;
$s-size : 1.2rem ;  
